---
import BaseHead from '../components/layout/BaseHead.astro';
import '../styles/globals.css';

export interface Props {
  title: string;
  description: string;
  keywords?: string;
  type?: string;
}

const { title, description, keywords, type } = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <BaseHead title={title} description={description} keywords={keywords} type={type} />
  <body class="bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100">
    <slot />
  </body>
</html>
