<!-- Skip Navigation Links para accesibilidad -->
<a href="#main-content" class="skip-link">Ir al contenido principal</a>
<a href="#navigation" class="skip-link">Ir a navegación</a>
<a href="#projects" class="skip-link">Ir a proyectos</a>
<a href="#contact" class="skip-link">Ir a contacto</a>
